<%= render partial: 'posts/newpost' %>
<%= render partial: 'posts/new_post_destroy' %>
<%= render partial: 'genre/edit',locals: {user: @users} %>
<%= render partial: 'instrument/edit',locals: {user: @users} %>
<%= render partial: 'gender/edit',locals: {user: @users} %>
<%= render partial: 'prefecture/edit',locals: {user: @users} %>
<%= render partial: 'genre/edit_genre_destroy',locals: {user: @users} %>
<%= render partial: 'instrument/edit_instrument_destroy',locals: {user: @users} %>
<%= render partial: 'gender/edit_gender_destroy',locals: {user: @users} %>
<%= render partial: 'prefecture/edit_prefecture_destroy',locals: {user: @users} %>
<%= render partial: 'editprofile',locals: {user: @users} %>
<%= render partial: 'edit_userprofile_destroy',locals:{user:@users} %>

<%= render partial: 'userprofile_upper' %>

<script>
  $(function(){
    var OFFSET=70;
    $(window).scrollTop($('.user-image').offset().top-OFFSET);
  });
</script>

<div class="userprofile-container">
  <div class= "userprofile-friends-items">
    <% @follower_users.each do |follower|%>
    <div class="userprofile-friends-item">
      <div class="friends-user-image">
        <%=link_to image_tag(follower.image.url),"/profile/#{follower.public_uid}"%>
        <div class="friends-user-name">
          <h3><%= link_to(follower.name,"/profile/#{follower.public_uid}") %></h3>
        </div>

        <div class="friends-user-id"><h5><%= link_to("@#{follower.public_uid}","/profile/#{follower.public_uid}") %></h5></div>

        <div class="friends-contents">
          <% unless follower.content==nil %>
          <p><%= link_to(follower.content,"/profile/#{follower.public_uid}") %></p>
          <% end %>
        </div>

        <% unless follower.id==@current_user.id %>
        <div class="follow-follower-list-btn-container">
    <%= render partial: 'follow/follow_btn',locals: {recomended_user: follower} %>
  </div>
    <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
