<%= render partial: 'posts/newpost' %>
<%= render partial: 'posts/new_post_destroy' %>
<%= render partial: 'genre/edit',locals: {user: @users} %>
<%= render partial: 'instrument/edit',locals: {user: @users} %>
<%= render partial: 'gender/edit',locals: {user: @users} %>
<%= render partial: 'prefecture/edit',locals: {user: @users} %>
<%= render partial: 'genre/edit_genre_destroy',locals: {user: @users} %>
<%= render partial: 'instrument/edit_instrument_destroy',locals: {user: @users} %>
<%= render partial: 'gender/edit_gender_destroy',locals: {user: @users} %>
<%= render partial: 'prefecture/edit_prefecture_destroy',locals: {user: @users} %>
<%= render partial: 'editprofile',locals: {user: @users} %>
<%= render partial: 'edit_userprofile_destroy',locals:{user:@users} %>
<%= render partial: 'userprofile_upper' %>

<div class="userprofile-container">
  <div class="userprofile-medias-items">
    <% @posts.each do |post|%>

    <%  if post.images? %>
    <% i=0 %>
    <%  post.images.length.times do %>
    <% if post.images.length==1 %>
    <div class="userprofile-medias-item">
      <%= icon 'fas','ellipsis-v',id:"show-menu-list-#{post.id}-#{i}",class:"icon-detail-show" %>
      <div id="detail-menu-list-<%= post.id %>-<%= i %>" class="detail-menu-list"><%= link_to("詳細ページへ","/posts/show/#{post.id}",class:"detail-menu-link") %>

        <%= icon 'fas','times',id:"detail-menu-cancel-btn-#{post.id}-#{i}",class: "fa-detail-menu-cancel-btn" %>
      </div>

      <%= image_tag(post.images[i].url,class:"media-post-image") %>
    </div>
    <% elsif post.images.length>1 %>
    <div class="userprofile-medias-item">
      <%= icon 'fas','ellipsis-v',id:"show-menu-list-#{post.id}-#{i}",class:"icon-detail-show" %>

      <div id="detail-menu-list-<%= post.id %>-<%= i %>" class="detail-menu-list"><%= link_to("詳細ページへ","/posts/show/#{post.id}",class:"detail-menu-link") %>

        <%= icon 'fas','times',id:"detail-menu-cancel-btn-#{post.id}-#{i}",class:"fa-detail-menu-cancel-btn" %>
      </div>

      <%= image_tag(post.images[i].url,class:"media-post-image") %>
    </div>
    <% end %>

    <script>
      $(function(){
        $('#show-menu-list-<%= post.id %>-<%= i %>').click(function () {
          $('#detail-menu-list-<%= post.id %>-<%= i %>').show();
        })

        $('#detail-menu-cancel-btn-<%= post.id %>-<%= i %>').click(function(){
          $('#detail-menu-list-<%= post.id %>-<%= i %>').hide();
        })
      })
    </script>

    <% i=i+1 %><% end %>
    <% end %>

    <%  if post.video? %>
    <div class="userprofile-medias-item">
      <%= icon 'fas','ellipsis-v',id:"show-menu-list-#{post.id}",class:"icon-detail-show" %>
      <div id="detail-menu-list-<%= post.id %>" class="detail-menu-list"><%= link_to("詳細ページへ","/posts/show/#{post.id}",class:"detail-menu-link") %>

        <%= icon 'fas','times',id:"detail-menu-cancel-btn-#{post.id}",class:"fa-detail-menu-cancel-btn" %>
      </div>

      <%= video_tag post.video_url,loop: true, controls: true, id: "mv",class:"media-list-videos" %>
    </div>

    <script>
      $(function(){
        $('#show-menu-list-<%= post.id %>').click(function(){
          $('#detail-menu-list-<%= post.id %>').show();
        })

        $('#detail-menu-cancel-btn-<%= post.id %>').click(function(){
          $('#detail-menu-list-<%= post.id %>').hide();
        })
      })
    </script>

    <% end %>
    <% end %>
  </div>
</div>
