<%= render partial: 'posts/newpost' %>
<%= render partial: 'posts/new_post_destroy' %>
<%= render partial: 'genre/edit',locals: {user: @users} %>
<%= render partial: 'instrument/edit',locals: {user: @users} %>
<%= render partial: 'gender/edit',locals: {user: @users} %>
<%= render partial: 'prefecture/edit',locals: {user: @users} %>
<%= render partial: 'genre/edit_genre_destroy',locals: {user: @users} %>
<%= render partial: 'instrument/edit_instrument_destroy',locals: {user: @users} %>
<%= render partial: 'gender/edit_gender_destroy',locals: {user: @users} %>
<%= render partial: 'prefecture/edit_prefecture_destroy',locals: {user: @users} %>
<%= render partial: 'editprofile',locals: {user: @users} %>
<%= render partial: 'edit_userprofile_destroy',locals:{user:@users} %>

<% if @users.errors.any? %>
<div id="notice-modal" class="notice-modal-wrapper">
  <div id="notice" class="notice-header">
<% @users.errors.full_messages.each do |message| %>
<div class="notice-content">
<%= message %>
</div>
<% end %>
</div>
</div>
<% end %>

<div class="userprofile-background">
  <%= image_tag(@users.background.url) %>
</div>

<div class="user-image">
  <%= image_tag(@users.image.url) %>
</div>

<%= render partial: 'userprofile_left_container' %>

<div class="usersprofile-menu">
  <div class="usersprofile-header-container">
    <div class="usersprofile-header-menu">
      <%= render partial: 'userprofile_menu' %>
    </div>
  </div>
</div>

<div class="userprofile-main">
  <div class="userprofile-container">

    <script>
      $(function () {
        var OFFSET = 70;
        $(window).scrollTop($('.user-image').offset().top - OFFSET);
      });
    </script>

    <div class="userprofile-left-pseudo-class"></div>

    <div class="userprofile-index-items-container">
      <% @posts.each do |post| %>
      <%= render partial:'comment/commentform',locals: {post: post,comment: @comments} %>
      <div id="image-patial-item">
        <%= render partial:'posts/image_modal',locals: {post: post,index: @index} %>
      </div>
      <% post_user=User.find_by(id:post.user_id) %>
      <% if @users.id==post.user_id && post.comment_id==nil %>
      <div class="userprofile-index-item">
        <div class="before-time"><%= date_format(post[:created_at]) %></div>
        <% if Post.find_by(comment_id:post.id,user_id:post.user_id) %>
        <div class="comment-line"></div>
        <% end %>
        <div class="post-user-image">
          <%=link_to image_tag(@users.image.url),"/profile/#{post_user.public_uid}"%>
        </div>
        <div class="post-user-name">
          <%= link_to(@users.name,"/profile/#{post_user.public_uid}") %>
        </div>

        <div class="post-user-id">
          <%= link_to("@#{post_user.public_uid}","/profile/#{post_user.public_uid}") %>
        </div>

        <div class="post-contents">
          <%= link_to(post.content,"/posts/show/#{post.id}") %>
        </div>

        <div class="user_post_image_container">
          <%  if post.images? %>
          <% i=0 %>
          <%  post.images.length.times do %>
          <% if post.images.length==1 %>
          <%= link_to image_tag(post.images[i].url,class:"user_post_image_1"),"/posts/#{post.id}/image/show/#{i}",method: :post,remote:true %>
          <% elsif post.images.length>1 %>
          <%= link_to image_tag(post.images[i].url,class:"user_post_images"),"/posts/#{post.id}/image/show/#{i}",method: :post,remote:true %>
          <% end %>
          <% i=i+1 %><% end %>
          <% end %>
        </div>

        <div class="user_post_image_container">
          <%  if post.video? %>
          <%= video_tag post.video_url,loop: true, controls: true, width: 550, id: "mv",class:"user_post_video" %>
          <% end %>
        </div>

        <div class="time">
          <p><%= japanese_time(post[:created_at]) %></p>
        </div>

        <div class="menu-item">
          <div id="comment-btn" class="comment-css"><%= link_to("/comment/commentform/#{post.id}",method: :post,remote:true) do %>
            <%= icon 'fas','comment',class: "fa-comment" %>
            <% end %>
          </div>

          <div id="likes_buttons_<%= post.id %>">
            <%= render partial: 'like/like',locals: {post: post} %>
          </div>

          <% if @current_user.id==post.user_id %>
          <%= render partial: 'posts/current_user_post_destroy',locals:{post: post} %>
          <div id="current-user-post-destroy-btn-<%= post.id %>" class="destroy-css">
            <%= icon 'fas','trash',class: "fa-delete" %>
          </div>

          <script>
            $('#current-user-post-destroy-btn-<%= post.id %>').click(function(){
              $('#current-user-post-destroy-modal-<%= post.id %>').show();
            })
          </script>
          <% end %>
        </div>

        <% if Post.find_by(comment_id:post.id,user_id:post.user_id) %>
        <div class="thread-useprofile-item">
          <div class="thread-user-image">
            <%=link_to image_tag(@users.image.url),"/profile/#{post.user_id}"%>
          </div>
          <div class="thread-link">
            <%= link_to("このスレッドを表示する","/posts/show/#{post.id}/#posts-#{post.id}") %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
      <% end %>
    </div>

    <%= render partial: 'userprofile_right_container' %>
  </div>
</div>
