<div class="edit-account-page-container">
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="forget-account-container">
    <h2 class="edit-profile-title">パスワードをお忘れですか？</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.label :email,"メールアドレスを入力" %><br />
      <%= f.email_field :email, class:"frame",autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "送信",class:"update_btn btn" %>
    </div>
    <% end %>

    <div class="password-forget-btn-container">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
