<div class="login-form-content-container">
  <div class="login-form-contents">
    <h2>OTOMURAへようこそ</h2>
    <p>OTOMURAはミュージシャンや音楽好きのためのSNSサイトです。</p>
    <ul>
      <li>● 音楽好き同士で繋がりましょう</li>
      <li>● 音楽の価値観がマッチした人とバンドを組みましょう</li>
      <li>● 自分の演奏楽器や好きな音楽について投稿しましょう</li>
    </ul>
  </div>
  <h1>OTOMURA</h1>
</div>

<div class="login-form-container">
  <div class="login-left-radius">
    <h2 class="login-left-header">ここからログイン！</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-form-body">

      <%= f.email_field :email,type:"email",class:"login_email_form",placeholder:"メールアドレスを入力",autofocus: true, autocomplete: "email" %>

      <%= f.password_field :password,type:"password",class:"login_password_form",placeholder:"パスワードを入力", autocomplete: "current-password" %>

      <% if devise_mapping.rememberable? %>
      <div class="login-hold-container">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me,"ログインIDを保存する",class:"login-hold-label" %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン",class: 'login-form-btn' %>
      </div>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="login-password-forget-container">
        <%= link_to "パスワードを忘れたら", new_password_path(resource_name),class:'login-password-forget' %><br />
        <% end %>
      </div>
    </div>
    <% end %>



    <div class="login-btn-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= f.email_field :email,type:"email",class:"guest_login_email_form",value:"test@test",placeholder:"メールアドレスを入力",autofocus: true, autocomplete: "email" %>

      <%= f.password_field :password,type:"password",class:"guest_login_password_form",value:"testtesttest",placeholder:"パスワードを入力", autocomplete: "current-password" %>

      <%= button_tag type: 'submit', class: 'guest-login-form-btn' do %>
      ゲストとしてログイン
      <% end %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
