<div class="show-left-menu">
  <div class="show-profile-container">
    <div class="index-user-background">
      <%=link_to image_tag(@current_user.background.url),"/profile/#{@current_user.public_uid}"%>
    </div>
    <div class="index-user-image">
      <%=link_to image_tag(@current_user.image.url),"/profile/#{@current_user.public_uid}"%>
    </div>

    <div class="index-user-name">
      <%= link_to(@current_user.name,"/profile/#{@current_user.public_uid}")%>
    </div>

    <div class="index-user-id">
      <%= link_to("@#{@current_user.public_uid}","/profile/#{@current_user.public_uid}")%>
    </div>

    <div class="index-user-content">
      <li class="index-connects"><%= link_to("/connect/#{@current_user.public_uid}") do%>
        コネクト<br>
        <%= @follow.count %>
        <% end %>
      </li>
      <li class="index-connecteds"><%= link_to("/connected/#{@current_user.public_uid}") do%>
        コネクター<br>
        <%= @follower.count %>
        <% end %>
      </li>
    </div>
  </div>

  <div class="show-profile-koukoku-container">
    <%= image_tag 'test_koukoku.png' %>
  </div>

  <div class="show-userlist-container">
    <div class="show-userlist-header">
      <h3>ユーザ一覧</h3>
    </div>
    <div class="index-userlist-content-container">
      <% @serch_users.first(10).each do |recomended_user| %>
      <%= render partial: 'posts/recomended_user_reply_btn',locals: {recomended_user:recomended_user} %>
      <% end %>
    </div>
  </div>
</div>
